# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

Debug/Main.obj
Debug/CHtmlError.obj
Debug/Raytracer.exe
*.ilk
*.log
*.pdb
*.tlog
*.idb
Release/Raytracer.exe
Release/CHtmlError.obj
Release/Main.obj
Raytracer.opensdf
Raytracer.v12.suo
Raytracer141218.vsp
Release/DirectX9.obj
Release/HtmlError.obj
Release/DirectX9.obj
Release/DirectX9.obj
Release.html
*.sln
*.psess
Debug.html
Release.html
Release/DirectX9.obj
Debug.html
Debug.html
Debug.html
Debug/DirectX9.obj
Release/DirectX9.obj
Debug/Raytracer.Tests.dll
*.dll
*.exp
*.lib
*.filters
*.sdf
Release.html
Debug.html
*.dll
*.dll